## Learning <b>SQL</b>

In [ ]:
SELECT * FROM Employees LIMIT 3

In [ ]:
SELECT
    "Employee ID",
    "First Name",
    'Department',
    "Position",
    "Salary"
FROM
    Employees
LIMIT 4;

In [ ]:
SELECT
    AVG(Salary) as Avg_IT_Sal
FROM
    Employees
WHERE
    Department = 'IT'

In [ ]:
SELECT
    AVG(Salary) as Avg_Mak_Sal
FROM
    Employees
WHERE
    Department = "Marketing"

In [ ]:
-- finding the highest paid person in each position

SELECT
    "Position",
    MAX(Salary) AS Max_Sal
FROM
    Employees
GROUP BY
    "Position";

#### Building Pivot Tables with Conditional Aggregation

In [ ]:
SELECT
    Department,

    AVG(
        CASE
            WHEN Position = "Software Engineer" THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Soft. Eng.",

    AVG(
        CASE
            WHEN Position = 'Data Analyst' THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Data Analyst",

    AVG(
        CASE
            WHEN Position = "Project Manager" THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Prj. Manager",

    AVG(
        CASE
            WHEN Position = 'Designer' THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Designer",

    AVG(
        CASE
            WHEN Position = "HR Specialist" THEN Salary
            ELSE NULL
        END
    ) AS "Avg. HR Specialist"

FROM
    Employees
GROUP BY
    Department
ORDER BY
    Department;

In [ ]:
-- Count how many Employees are in each Position/Department

SELECT
    Department,

    SUM(
        CASE
            WHEN Position = "Software Engineer" THEN 1
            ELSE 0
        END
    ) AS "Count Software Engineer",

    SUM(
        CASE
            WHEN Position = "Data Analyst" THEN 1
            ELSE 0
        END
    ) AS "Count Data Analyst",

    SUM(
        CASE
            WHEN Position = "Project Manager" THEN 1
            ELSE 0
        END
    ) AS "Count Project Manager"

FROM
    Employees
GROUP BY
    Department
ORDER BY
    Department

### Assignment

In [ ]:
SELECT
    Store, -- Store acts as rows

    -- Product Acts as columns, where we count each the sale of each unique item in each store

    SUM(
        CASE WHEN Product = "Apples" THEN 1
        ELSE 0
        END
    ) AS "Total_Apples_Sales",

    SUM(
        CASE WHEN Product = "Oranges" THEN 1
        ELSE 0
        END
    ) AS "Total_Oranges_Sales",
    
    SUM(
        CASE WHEN Product = "Bananas" THEN 1
        ELSE 0
        END
    ) AS "Total_Bananas_Sales",

    SUM(
        CASE WHEN Product = "Grapes" THEN 1
        ELSE 0
        END
    ) AS "Total_Grapes_Sales",

    SUM(
        CASE WHEN Product = "Milk" THEN 1
        ELSE 0
        END
    ) AS "Total_Milk_Sales"

    FROM sales

    GROUP BY Store

    ORDER BY Store

### The **Where** Clause

In [ ]:
-- Text Filtering with "="
SELECT * FROM sales_q4
WHERE Store = 'Store_A';

In [ ]:
-- Numeric Filtering with "<"

SELECT * FROM sales_q4
WHERE Sales < 210;

In [ ]:
-- Numeric Filtering with "<="

/*
   Get all small sales ($60 or less)
*/

SELECT Store, Product, Sales
FROM sales_q4
WHERE Sales <= 60;

In [ ]:
-- Display all oranges sold by store A

SELECT * FROM sales_q4
WHERE Store = 'Store_A' AND Product = 'Oranges';

In [ ]:
-- Text Filtering with "!="

SELECT * FROM sales_q4
WHERE Product = 'Apples' AND Store != "Store_B";

In [ ]:
-- Filtering Employees table

SELECT * FROM Employees
WHERE Department = 'Marketing'
LIMIT 3;

### **Compound Filtering**

##### Using AND, OR, NOT, and ()

In [ ]:
SELECT * FROM Sales
WHERE Store = 'Store_A'
AND Product = 'Apples';

In [ ]:
SELECT Store, Product, "Sale Date"
FROM Sales
WHERE Store = 'Store_B'
AND (Product = "Bananas" OR Product = "Oranges")
LIMIT 20;

In [ ]:
SELECT * FROM Sales
WHERE Sales >= 350
OR Product = 'Bananas'
LIMIT 35;

In [ ]:
SELECT * FROM Sales
WHERE (Product = 'Apples' OR Product = 'Bananas')
AND NOT (Sales < 480);

In [ ]:
SELECT Store, Sales, Product, `Sale Date`
FROM Sales
WHERE NOT (Store = 'Store_C' OR Product = 'Oranges')
-- WHERE NOT (Store = 'Store_C')
LIMIT 24;

### **Advanced Filtering**

In [ ]:
SELECT Product, Sales
FROM Sales
WHERE Sales BETWEEN 230 AND 300
LIMIT 15;

In [ ]:
SELECT Store, Product, `Sale Date`
FROM Sales
WHERE Product IN ('Milk', 'Bananas')
-- AND Store IN ('Store_X', 'Store_B')
LIMIT 30;

In [ ]:
SELECT Store, Product, Sales
FROM Sales
WHERE Store LIKE '%_A'
AND Product LIKE '%es';

In [ ]:
SELECT Store, Product, Sales
FROM Sales
WHERE Product LIKE '%as'
AND Store = 'Store_A'
LIMIT 30;

In [ ]:
SELECT Store, Product, Sales
FROM Sales
WHERE Product IS NULL;

In [ ]:
SELECT * FROM Sales
WHERE Product IS NOT NULL;

In [ ]:
SELECT * FROM Sales
WHERE Store IN ('Store_B', 'Store_X')
AND Product LIKE '%lk'
AND Sales < 300;

### <p align="center">**Assignment**</p>

`priority_activity.sql`

<!-- <p align="center">This</p> -->

In [ ]:
SELECT * FROM Work_Logs -- Select all columns from the Work_Logs table
WHERE status = 'High' -- Status should be High
AND ((duration_hours BETWEEN 3.0 AND 6.0) OR (project_name LIKE 'Project_A_%')) -- duration must be between 3-6 hours or project name must start with "Project_A_"
AND task_code NOT IN ('T-10', 'T-20') -- Task code must include T-10 or T-20
AND task_code IS NOT NULL -- Task code shouldn't be null
;

### __Sorting Results__

In [ ]:
SELECT Store, Product, Sales
FROM sales
ORDER BY Sales DESC
LIMIT 10;
-- give me a list of the columns 'store', 'product' and 'sales', order them by the Sales column reverse-alphabetically

In [ ]:
SELECT Sales, Product, Store
FROM sales
ORDER BY Product DESC
LIMIT 50;

In [ ]:
SELECT * FROM sales
ORDER BY `Sale Date`
LIMIT 10;

In [ ]:
SELECT Store, Sales, Product
FROM sales
ORDER BY
    Store ASC,
    Sales DESC;

### <p align="center">**Aggregate Functions**</p>

In [ ]:
-- count how many sales was made
SELECT COUNT(*) AS t_sales
FROM sales;

In [ ]:
SELECT SUM(Sales) as t_revenue
FROM sales;
-- count the total revenue made (sum of all sales)

In [ ]:
-- find the average sale made
SELECT AVG(Sales) AS avg_sale_amount
FROM sales;

In [ ]:
-- find the minimum and maximum sale made
SELECT
    MIN(Sales) AS min_sale,
    MAX(Sales) AS max_sale
FROM sales;

In [ ]:
-- all together now...
SELECT
    COUNT(*) AS no_sales,
    SUM(Sales) AS t_sales,
    AVG(Sales) AS avg_sale,
    MIN(Sales) AS min_sale,
    MAX(Sales) AS max_sale
FROM sales;

### <p align="center">**Grouping Data**</p>

In [ ]:
-- find the total and average revenue per store and the number of transaction per store
SELECT Store, SUM(Sales) AS t_rev_per_store,
AVG(Sales) AS avg_rev_per_store,
COUNT(*) AS trans_per_store
FROM sales
GROUP BY Store
ORDER BY Store;

In [ ]:
SELECT Store, Product, SUM(Sales) AS t_revenue
FROM sales
GROUP BY Store, Product -- all non-aggregate columns must be grouped!
ORDER BY Product, t_revenue DESC;

In [ ]:
-- give me the sum of sales of apples and oranges for the store_A and store_B stores
SELECT Store, Product, SUM(Sales) as t_revenue
FROM sales
WHERE Store IN ("Store_A", "Store_B")
AND Product IN ("Apples", "Oranges")
GROUP BY Store, Product
ORDER BY Store;

### **Assignment**

In [ ]:
SELECT customer_id,
SUM(amount) AS total_spend,
COUNT(customer_id) AS transaction_count,
AVG(amount) AS average_txn_value,
MAX(txn_date) AS last_purchase_date
FROM Transactions
GROUP BY customer_id
ORDER BY total_spend DESC;

In [ ]:
SELECT txn_date, amount FROM Transactions;

### **Filtering Groups using "HAVING"**

#### **WHERE vs. "HAVING"**

In [ ]:
-- with WHERE, you extract rows that pass a certain criteria
SELECT Store, SUM(Sales) AS t_apple_sales
FROM sales
WHERE Product = 'Apples'
GROUP BY Store
ORDER BY t_apple_sales DESC;

In [ ]:
-- with HAVING, you extract groups that pass a certain criteria
-- that's why it's used after GROUP BY

SELECT Store, SUM(Sales) AS store_revenue
FROM sales
GROUP BY Store
HAVING SUM(Sales) > 75000 -- only show me groups with sales more than $75000
;

In [ ]:
-- you can combine WHERE and GROUP BY...

SELECT Store, SUM(Sales) as store_rev
FROM sales
WHERE Product = 'Oranges' -- I want only sales on oranges
GROUP BY Store
HAVING SUM(Sales) > 25500 -- only show me groups with sales more than $25,500
ORDER BY SUM(Sales) DESC;

### **Aliases**

In [ ]:
-- aliases (AS) is used for replacing names
-- here, we use it to give columns more appropriate names
SELECT Region, SUM(Sales) AS total_regional_revenue,
-- SUM(Sales) will be replaced with "total_regional_revenue" as the name of the column
AVG(Sales) AS average_regional_revenue,
COUNT(*) AS transaction_count
FROM Regional_Sales
GROUP BY Region;

In [ ]:
-- aliases can also be used to change table names momentarily
SELECT rsl.Region, rsl.District, rsl.Store, rsl.Sales
FROM Regional_Sales AS rsl
LIMIT 10;

In [ ]:
-- we can do some math and replace the column name using an alias
SELECT Product,
ROUND((Sales / Quantity), 2) AS price_per_item,
Quantity, Sales
FROM Regional_Sales
LIMIT 35;