## Learning <b>SQL</b>

In [ ]:
SELECT * FROM Employees LIMIT 3

In [ ]:
SELECT
    "Employee ID",
    "First Name",
    'Department',
    "Position",
    "Salary"
FROM
    Employees
LIMIT 4;

In [ ]:
SELECT
    AVG(Salary) as Avg_IT_Sal
FROM
    Employees
WHERE
    Department = 'IT'

In [ ]:
SELECT
    AVG(Salary) as Avg_Mak_Sal
FROM
    Employees
WHERE
    Department = "Marketing"

In [ ]:
-- finding the highest paid person in each position

SELECT
    "Position",
    MAX(Salary) AS Max_Sal
FROM
    Employees
GROUP BY
    "Position";

#### Building Pivot Tables with Conditional Aggregation

In [ ]:
SELECT
    Department,

    AVG(
        CASE
            WHEN Position = "Software Engineer" THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Soft. Eng.",

    AVG(
        CASE
            WHEN Position = 'Data Analyst' THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Data Analyst",

    AVG(
        CASE
            WHEN Position = "Project Manager" THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Prj. Manager",

    AVG(
        CASE
            WHEN Position = 'Designer' THEN Salary
            ELSE NULL
        END
    ) AS "Avg. Designer",

    AVG(
        CASE
            WHEN Position = "HR Specialist" THEN Salary
            ELSE NULL
        END
    ) AS "Avg. HR Specialist"

FROM
    Employees
GROUP BY
    Department
ORDER BY
    Department;

In [ ]:
-- Count how many Employees are in each Position/Department

SELECT
    Department,

    SUM(
        CASE
            WHEN Position = "Software Engineer" THEN 1
            ELSE 0
        END
    ) AS "Count Software Engineer",

    SUM(
        CASE
            WHEN Position = "Data Analyst" THEN 1
            ELSE 0
        END
    ) AS "Count Data Analyst",

    SUM(
        CASE
            WHEN Position = "Project Manager" THEN 1
            ELSE 0
        END
    ) AS "Count Project Manager"

FROM
    Employees
GROUP BY
    Department
ORDER BY
    Department

### Assignment

In [ ]:
SELECT
    Store, -- Store acts as rows

    -- Product Acts as columns, where we count each the sale of each unique item in each store

    SUM(
        CASE WHEN Product = "Apples" THEN 1
        ELSE 0
        END
    ) AS "Total_Apples_Sales",

    SUM(
        CASE WHEN Product = "Oranges" THEN 1
        ELSE 0
        END
    ) AS "Total_Oranges_Sales",
    
    SUM(
        CASE WHEN Product = "Bananas" THEN 1
        ELSE 0
        END
    ) AS "Total_Bananas_Sales",

    SUM(
        CASE WHEN Product = "Grapes" THEN 1
        ELSE 0
        END
    ) AS "Total_Grapes_Sales",

    SUM(
        CASE WHEN Product = "Milk" THEN 1
        ELSE 0
        END
    ) AS "Total_Milk_Sales"

    FROM sales

    GROUP BY Store

    ORDER BY Store

### The **Where** Clause

In [ ]:
-- Text Filtering with "="
SELECT * FROM sales_q4
WHERE Store = 'Store_A';

In [ ]:
-- Numeric Filtering with "<"

SELECT * FROM sales_q4
WHERE Sales < 210;

In [ ]:
-- Numeric Filtering with "<="

/*
   Get all small sales ($60 or less)
*/

SELECT Store, Product, Sales
FROM sales_q4
WHERE Sales <= 60;

In [ ]:
-- Display all oranges sold by store A

SELECT * FROM sales_q4
WHERE Store = 'Store_A' AND Product = 'Oranges';

In [ ]:
-- Text Filtering with "!="

SELECT * FROM sales_q4
WHERE Product = 'Apples' AND Store != "Store_B";

In [ ]:
-- Filtering Employees table

SELECT * FROM Employees
WHERE Department = 'Marketing'
LIMIT 3;

### **Compound Filtering**

##### Using AND, OR, NOT, and ()

In [ ]:
SELECT * FROM Sales
WHERE Store = 'Store_A'
AND Product = 'Apples';

In [ ]:
SELECT Store, Product, "Sale Date"
FROM Sales
WHERE Store = 'Store_B'
AND (Product = "Bananas" OR Product = "Oranges")
LIMIT 20;

In [ ]:
SELECT * FROM Sales
WHERE Sales >= 350
OR Product = 'Bananas'
LIMIT 35;

In [ ]:
SELECT * FROM Sales
WHERE (Product = 'Apples' OR Product = 'Bananas')
AND NOT (Sales < 480);

In [ ]:
SELECT Store, Sales, Product, `Sale Date`
FROM Sales
WHERE NOT (Store = 'Store_C' OR Product = 'Oranges')
-- WHERE NOT (Store = 'Store_C')
LIMIT 24;

### **Advanced Filtering**

In [ ]:
SELECT Product, Sales
FROM Sales
WHERE Sales BETWEEN 230 AND 300
LIMIT 15;

In [ ]:
SELECT Store, Product, `Sale Date`
FROM Sales
WHERE Product IN ('Milk', 'Bananas')
-- AND Store IN ('Store_X', 'Store_B')
LIMIT 30;

In [ ]:
SELECT Store, Product, Sales
FROM Sales
WHERE Store LIKE '%_A'
AND Product LIKE '%es';

In [ ]:
SELECT Store, Product, Sales
FROM Sales
WHERE Product LIKE '%as'
AND Store = 'Store_A'
LIMIT 30;

In [ ]:
SELECT Store, Product, Sales
FROM Sales
WHERE Product IS NULL;

In [ ]:
SELECT * FROM Sales
WHERE Product IS NOT NULL;

In [ ]:
SELECT * FROM Sales
WHERE Store IN ('Store_B', 'Store_X')
AND Product LIKE '%lk'
AND Sales < 300;